/* .jumbotron h1{
  color:red;
} */

/* if i have to rewrite jumbotron */
.jumbotron {
  background-size: cover;
  background-attachment: fixed;
  min-height: 600px;
}


body {
  padding-top: 70px;
}

.btn-twitter{
  background:#00acee;
  border-color:#009ad5;
}

.btn-facebook {
  background: #4868ac;
  border-color: #314776;
}

.btn-pinterest {
  background: #b62f26;
  border-color: #b62f26;
}
